* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: Lato;
}

#navbar {
  /* border: 2px solid red; */
  height: 320px;
  background-color: #383838;
}

#nav {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

#nav > div:nth-child(1) {
  /* border: 1px solid blue; */
  margin-top: 20px;
  height: 40px;
  margin-left: 25px;
}

#nav > div:nth-child(1) > a > img {
  height: 100%;
}

#nav > div:nth-child(2) {
  /* border: 1px solid blue; */
  color: white;
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 70px;
  margin-top: 20px;
}

#nav button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to right, #5a3bdb, #75c6ec);
  font-size: 16px;
  color: white;
  cursor: pointer;
}

#nav h3 {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

#nav h3:hover {
  text-decoration: underline;
  color: white;
}

#nav a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

#nav a:hover {
  text-decoration: underline;
  color: white;
}

#nav > div:nth-child(2) > button > a {
  text-decoration: none;
}
#navmemb {
  /* border: 2px solid red; */
  width: 30%;
  margin: auto;
  margin-top: 80px;
  text-align: center;
}
#navmemb > h3 {
  color: white;
  font-size: 26px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 20px;
}
#navmemb > div {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 72%;
  /* border: 2px solid blue; */
}
#navmemb > div > a:nth-child(1) > button {
  padding: 13px 25px;
  font-size: large;
  border: none;
  border-radius: 40px;
  background: linear-gradient(to right, #5a3bdb, #75c6ec);
  color: white;
  cursor: pointer;
}
#navmemb > div > a:nth-child(2) > button {
  padding: 13px 25px;
  font-size: large;
  border: 2px solid #75c6ec;
  border-radius: 40px;
  color: white;
  background-color: transparent;
  cursor: pointer;
}
#navmemb a {
  text-decoration: none;
  color: white;
}
#mid {
  padding: 5% 8%;
}
#mid > div > h3 {
  margin-bottom: 20px;
  font-size: 25px;
}

#mid > div > hr {
  width: 6%;
  border: none;
  height: 4px;
  background: #5a3bdb;
  margin-bottom: 40px;
}

#mid > div > p {
  width: 50%;
  font-size: 16px;
  margin-bottom: 60px;
}
#mid form > input {
  border: none;
  outline: none;
  padding: 20px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  width: 100%;
}
#mid form > textarea {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  padding: 20px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  border: none;
  outline: none;
}
#mid form > button {
  margin-top: 20px;
  padding: 15px 25px;
  font-size: large;
  border: none;
  border-radius: 40px;
  background: linear-gradient(to right, #5a3bdb, #75c6ec);
  color: white;
  cursor: pointer;
}
#mid form > button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#bottom {
  padding: 3% 13% 5% 13%;
  background-color: #121451;
  display: flex;
  justify-content: space-between;
}

/* #bottom > div {
      } */
#bottom > div:nth-child(1) {
  width: 40%;
}

#bottom > div:nth-child(1) > img {
  width: 38%;
  margin-bottom: 10px;
}

#bottom > div:nth-child(1) > p {
  color: #bbbbbb;
  font-size: 12px;
  margin-bottom: 8px;
}

#bottom > div:nth-child(1) > div {
  margin-top: 20px;
}

#bottom > div:nth-child(1) a {
  text-decoration: none;
  color: white;
}

#bottom > div:nth-child(1) a:hover {
  text-decoration: underline;
  color: white;
}

#bottom > div:nth-child(2) {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#bottom > div:nth-child(2) img {
  width: 50px;
  height: 50px;
  opacity: 0.5;
}

#bottom > div:nth-child(2) img:hover {
  opacity: 1;
}

#bottom > div:nth-child(1) > div {
  width: 40%;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 12px;
  /* border: 2px solid red; */
}
/* popup form */
.outter {
  display: none;
  width: 29%;
  padding: 30px 70px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.outter h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 20px;
}
.form {
  display: flex;
  flex-direction: column;
}
.form input {
  width: 100%;
  padding: 10px 0px;
  margin-bottom: 20px;
  border: none;
  outline: none;
  border-color: transparent;
  border-bottom: 1px solid;
}
.checkbox {
  display: flex;
  width: 62%;
  margin: auto;
  justify-content: space-between;
  /* border: 1px solid red; */
  margin-bottom: 10px;
}
.checkbox p {
  font-size: 13px;
}
.login-btn button {
  width: 100%;
  padding: 12px 0px;
  border-radius: 10px;
  background-color: #3cc6dc;
  color: white;
  border: none;
  font-size: 15px;
}
.login-btn button:hover {
  background-color: #2b8b9a;
  cursor: pointer;
}
.outter p {
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
  margin-bottom: 10px;
}
.facebook-btn button {
  width: 100%;
  padding: 12px 0px;
  border-radius: 10px;
  background-color: #3b5998;
  color: white;
  border: none;
  font-size: 15px;
}
.facebook-btn button:hover {
  background-color: #293d68;
  cursor: pointer;
}
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  font-size: 13px;
  /* border: 1px solid red; */
  margin-top: 10px;
}
.links a {
  text-decoration: none;
  color: #3cc6dc;
}
#cancel-btn {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: black;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
